<div class="register-container" data-aos="zoom-in">

   <!-- Mensaje de éxito -->
   <div *ngIf="showSuccess" class="alert alert-success alert-dismissible fade show message-top-right" role="alert">
    <i class="bi bi-check-circle-fill"></i> {{ successMessage }}
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show message-top-right" role="alert">
    <i class="bi bi-x-circle-fill"></i> {{ errorMessage }}
  </div>
 

  <!-- Sección Izquierda -->
  <div class="left-section">
    <img class="background-image" src="../../../../../assets/images/login-registro/login-registro.png"
      alt="Trooper Stay">
    <div class="title">
      <h2>La experiencia perfecta</h2>
      <h2>para el hospedaje perfecto</h2>
      <h2 class="title-gray">en tu próximo destino</h2>
    </div>
  </div>

  <!-- Sección Derecha -->
  <div class="right-section">
    <div class="register-card">
      <h2>REGISTRO</h2>
      <form #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)">
        
        <div class="form-group">
          <input type="text" id="userName" name="userName" ngModel placeholder="Nombre de Usuario" required #userName="ngModel">
          <div *ngIf="userName.invalid && userName.touched" class="error-message">
            El nombre de usuario es obligatorio.
          </div>
        </div>

        
        <div class="form-group">
          <input type="text" id="firstname" name="firstname" ngModel placeholder="Nombre" required>
          <input type="text" id="lastname" name="lastname" ngModel placeholder="Apellido" required>
        </div>
        <div class="form-group">
          <input type="email" id="email" name="email" ngModel placeholder="Email" required email #email="ngModel">
          <div *ngIf="email.invalid && email.touched" class="error-message">
            El email debe ser válido (con  y un dominio como .com).
          </div>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" ngModel placeholder="Contraseña" required>
        </div>
        <div class="form-group">
          <input type="tel" id="telefono" name="phone" ngModel placeholder="Número de Teléfono" required>
        </div>
        <div class="form-group">
          <input type="date" id="birthdate" name="birthdate" ngModel required>
        </div>
        <div class="form-group">
          <input type="text" id="ubication_x" name="ubication_x" ngModel placeholder="Ubicación" required>
        </div>
        <div class="form-group">
          <label for="imgUrl">Subir Imagen</label>
          <input type="file" id="imgUrl" (change)="onFileSelected($event)">
        </div>
        
        <div class="button-group">
          <button type="submit" [disabled]="!registroForm.valid">Registrarse</button>
          <button type="reset">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
