.reservation-container {
    padding: 50px;
    max-width: 1200px;
    margin: 50px auto 0;
    background-color: #102a40;
  }
  
  .title {
    font-size: 48px;
    color: #ccff00;
    text-align: center;
  }
  
  .reservation-content {
    display: flex;
    justify-content: center; /* Centra la card */
    margin-top: 50px;
  }
  
  .place-card {
    background-color: #0c2a2e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;  /* Limita el ancho máximo de la card */
  }
  
  h2 {
    color: #ccff00;
  }
  
  h3 {
    color: #8a8d8d;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #8a8d8d;
    border-radius: 5px;
    background-color: #0d4f60;
    color: #fff;
  }
  
  input[type="file"] {
    padding: 10px;
    background-color: #0d4f60;
    color: #fff;
    border: 1px solid #8a8d8d;
    border-radius: 5px;
    width: 100%;
  }
  
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .services label {
    color: #fff;
    width: 48%;
    margin-bottom: 10px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .reserve-button,
  .cancel-button {
    width: 48%;
    padding: 15px;
    background-color: #ccff00;
    color: #102a40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .reserve-button:hover {
    background-color: #99cc00;
  }
  
  .cancel-button {
    background-color: #ff6666;
  }
  
  .cancel-button:hover {
    background-color: #ff4d4d;
  }
  
  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    .reservation-container {
      padding: 30px;
    }
  
    .place-card {
      width: 100%;
    }
  
    .services label {
      width: 100%; /* Servicios en una columna en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 36px;
    }
  
    .place-card h2 {
      font-size: 24px;
    }
  
    .reserve-button,
    .cancel-button {
      font-size: 16px;
    }
  }
  