<div class="login-container" data-aos="zoom-in">
  <div class="left-section">
    <img class="background-image" src="../../../../../assets/icons/logo/logo.png" alt="Logo">
    <div class="title">
      <h2>La experiencia perfecta</h2>
      <h2>para el hospedaje perfecto</h2>
      <h2 class="title-gray">en tu próximo destino</h2>
    </div>
  </div>

  <div class="right-section">
    <div class="login-card">
      <h2 class="login-title">LOGIN</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group" [ngClass]="{'has-error': !loginForm.controls['email']?.valid}">
          <label for="email">Nombre de usuario</label>
          <input
            type="email"
            id="email"
            placeholder="Ingresa tu nombre de usuario"
            [(ngModel)]="credentials.username"
            name="email"
            required
            (blur)="validateField(loginForm, 'email')"
          />
          <div *ngIf="!loginForm.controls['email']?.valid && showEmailError" class="error-bubble">
            Campo obligatorio
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': !loginForm.controls['password']?.valid}">
          <label for="password">Contraseña</label>
          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              placeholder="Ingresa tu contraseña"
              [(ngModel)]="credentials.password"
              name="password"
              required
              (blur)="validateField(loginForm, 'password')"
            />
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
          </div>
          <div *ngIf="!loginForm.controls['password']?.valid && showPasswordError" class="error-bubble">
            Campo obligatorio
          </div>
        </div>

        <div class="button-group">
          <button type="submit">Iniciar Sesión</button>
          <button class="submit-registro" type="button" routerLink="/register">Registrarse</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Mensaje de éxito -->
  <div *ngIf="showSuccessMessage" class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle"></i>
    <div>Inicio de sesión exitoso</div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="showErrorMessage" class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-x-circle"></i>
    <div>Error en el inicio de sesión</div>
  </div>
</div>
