<div class="login-container">
  <div class="left-section">
    <div class="registro">
      <img class="imagen-login" src="../../../../../assets/icons/logo/logo.png">
      <div class="title">
      <h2>La experiencia perfecta</h2>
      <h2>para el hospedaje perfecto</h2>
      <h2>en tu próximo destino</h2>
    </div>
  </div>
  <div class="right-section">
    <h1 class="login-title">LOGIN</h1>
    <div class="card">
      <form>
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Ingresa tu email" />
        
        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña" />
        <div class="button-group">
          <button type="submit">Iniciar Sesion</button>
          <button class="submit-registro" type="button">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
  
</div>

```
