<section class="how-trooper-works">
    <div class="container">
      <!-- Título para usuarios que buscan alojamiento -->
      <h2 class="destinos-title" data-aos="zoom-in">¿Con ganas de viajar?</h2>
      <div class="steps">
        <div class="step-card" data-aos="fade-up">
          <i class="bi bi-funnel"></i>
          <p>Filtrá a tu gusto</p>
        </div>
        <span class="arrow">&#8594;</span>
        <div class="step-card" data-aos="fade-down">
          <i class="bi bi-check2-circle"></i>
          <p>Elegí la mejor opción</p>
        </div>
        <span class="arrow">&#8594;</span>
        <div class="step-card" data-aos="fade-up">
          <i class="bi bi-lock-fill"></i>
          <p>Aboná de manera segura</p>
        </div>
      </div>
      <p class="description" data-aos="fade-up-right">
        <a href="/acerca">Trooper Stay</a> te garantiza tus vacaciones perfectas sin complicaciones, a la facilidad de un <a href="#banner">click</a>.
      </p>
  
      <!-- Título para usuarios que desean subir alojamiento -->
      <h2 class="destinos-title" data-aos="zoom-in">¿Eres propietario de alojamientos increíbles?</h2>
      <div class="steps">
        <div class="step-card" data-aos="fade-down">
          <i class="bi bi-pencil-square"></i>
          <p>Registrá tu propiedad</p>
        </div>
        <span class="arrow">&#8594;</span>
        <div class="step-card" data-aos="fade-up">
          <i class="bi bi-upload"></i>
          <p>Subí fotos y detalles</p>
        </div>
        <span class="arrow">&#8594;</span>
        <div class="step-card" data-aos="fade-down">
          <i class="bi bi-people-fill"></i>
          <p>Recibí huéspedes fácilmente</p>
        </div>
      </div>
      <p class="description" data-aos="fade-up-right">
        <a href="/acerca">Trooper Stay</a> hace que publicar tu alojamiento sea sencillo y seguro. Únete a nuestra comunidad y comienza a recibir reservas hoy mismo.
      </p>
    </div>
  </section>
  