body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.contenedor-principal {
    flex: 1; /* Hace que este contenedor ocupe el espacio disponible entre header y footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

footer {
    position: relative; /* Cambia la posición para que esté al final del flujo */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #07070749;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}


.titulo {
    text-align: center;
    margin-bottom: 40px;
}

.v39_304 {
    position: relative;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    color: #BCCE04;
    /* Tamaños y posición iniciales */
    font-size: 96px;
    line-height: 125px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    z-index: 2;
    /* Asegura que siempre esté por encima */
}

/* Título Tendencias - Debajo de Nuestros alojamientos */
.v51_88 {
    position: relative;
    font-family: var(--font-title2);
    font-style: normal;
    top: 100px;
    left: -90px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.3);
    /* Tamaños y posición iniciales */
    font-size: 128px;
    line-height: 160px;
    width: 100%;
    /* Debajo de Nuestros alojamientos */
    z-index: 1;
    /* Mantiene la jerarquía */
}


.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Cambiamos a 4 columnas */
    gap: 20px;
    max-width: 1400px;
    margin-top: 180px;
}

.card {
    overflow: hidden;
    border-radius: 0.5rem;
    max-width: 300px;
    height: 460px;
    background-color: #07070749;
    backdrop-filter: blur(5px);
    color: #212121;
    margin-bottom: 1px;
    z-index: 5;
    position: relative;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 2px 9px #020202f6
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px var(--color-button)
}

.image {
    height: 270%;
    width: 269px;
    object-fit: cover;
    margin-left: -5px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 6px 9px #020202f6
}


.content {
    padding: 1rem;
    text-align: center;
}

.text-1 {
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0%;
    color: var(--color-button);
    font-family: var(--font-title2);

}

.text-2 {
    margin-top: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(252, 254, 255, 0.733);
}

.text-2 span:first-child {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 900;
}

.text-2 span:last-child {
    margin-top: 0.5rem;
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action {
    margin-top: 1rem;
    display: inline-block;
    width: 40%;
    height: 20%;
    background-color: var(--color-button);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: var(--font-title2);
    line-height: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(26, 25, 25);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.action:hover {
    background-color: #41410415;
    box-shadow: 0 2px 12px var(--color-button);
    color: var(--color-button);
}

.date {
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(156, 163, 175, 1);
}

.btn-ver-mas {
    background-color: var(--color-button);
    width: 200px;
    color: #071b18;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 100px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-ver-mas:hover {
    background-color: #41410415;
    box-shadow: 0 2px 12px var(--color-button);
    color: var(--color-button);
}


.filtro {
   
    margin-top: 200px; /* Ajusta la distancia desde la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho del banner */
   
}

footer{
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #07070749;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

@media (max-width: 1366px) {
    .contenedor-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .v39_304 {
        font-size: 88px;
        margin-top: 45px;
    }

    .v51_88 {
        font-size: 110px;
        left: 50px;
    }
}

@media (max-width: 1200px) {
    .contenedor-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .v39_304 {
        font-size: 80px;
        margin-top: 40px;
    }

    .v51_88 {
        font-size: 90px;
        left: 0;
    }
}

@media (max-width: 900px) {
    .contenedor-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .v39_304 {
        font-size: 50px;
        margin-top: 30px;
    }

    .v51_88 {
        font-size: 50px;
        left: 0;
        top:30px;
    }
}

@media (max-width: 600px) {
    .contenedor-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .v39_304 {
        font-size: 40px;
        margin-top: 1px;
    }

    .v51_88 {
        font-size: 50px;
        top: 40px;
        left: 0;
    }
}