<app-header></app-header>



<div class="filter-section">
    <div class="filter-title-container">
        <span class="filter-title-main">Buscar destino</span>
        
    </div>
    <app-filtro></app-filtro>
</div>

<div class="main-container" id="filtrado-hospedaje">
    <div class="title-container">
      <span class="title-main">El destino de tus</span>
      <span class="title-highlight">SUEÑOS</span>

    
    </div>
      <!-- Select para ordenar los hospedajes -->
      <div class="sort-container">
        <label for="sort">Ordenar por:</label>
        <select id="sort" (change)="onSortChange($event)">
          <option>Más relevantes</option>
          <option value="asc">Menor a mayor precio</option>
          <option value="desc">Mayor a menor precio</option>
        </select>
      </div>
  
    <div class="cards-container">
      <!-- Genera las cards a partir de los datos del TypeScript -->
      <div class="card" *ngFor="let card of cards">
        <img class="card-image" [src]="card.image" alt="{{card.title}}">
        <div class="card-content">
          <p class="card-title">{{ card.title }}</p>
          <p class="card-info">
            <span class="price-label">Precio por noche:</span>
            <span class="price-span">${{ card.price | number }}</span>
          </p>
          <a class="card-action" [routerLink]="['detalle-hospedaje', card.hospedajeToken]">
            RESERVAR
          </a>
        </div>
      </div>
    </div>
  
    <button class="btn-see-more">Ver más</button>
  </div>
  

<app-footer></app-footer>
