<app-header></app-header>

<div class="reservation-container" *ngIf="hospedaje">
  <h1 class="title">{{ hospedaje.name }} <span>{{ hospedaje.locality }}</span></h1>

  <div class="reservation-content">
    <div class="place-card">
      <h2>¿Qué ofrece este lugar?</h2>
      <p>{{ hospedaje.description }}</p>
      <img [src]="hospedaje.urlImg" alt="Imagen del lugar" class="place-image">
      <div class="place-details">
        <p>{{ hospedaje.capacity }} huéspedes</p>
        <p *ngIf="hospedaje.wifi">Wifi disponible</p>
        <p *ngIf="hospedaje.tv">TV disponible</p>
        <p *ngIf="hospedaje.garage">Garaje disponible</p>
        <!-- Añadir más detalles según sea necesario -->
      </div>
    </div>

    <div class="price-card">
      <h2>${{ hospedaje.price }} <span>/ noche</span></h2>
      <!-- Formulario de reserva -->
    </div>
  </div>
</div>

<app-footer></app-footer>
