
<div class="reservation-container">
    <h1 class="title">PALM BEACH <span>ISLA MUJERES</span></h1>
  
    <div class="reservation-content">
      <!-- Card Izquierda: Descripción del lugar -->
      <div class="place-card">
        <h2>¿Qué ofrece este lugar?</h2>
        <p>¡Bienvenido a "Cabaña Montaña Serena"! Disfruta de impresionantes vistas a la montaña desde nuestra acogedora cabaña. Perfecta para escapadas tranquilas y reconectar con la naturaleza. ¡Reserva ahora y vive la serenidad de las alturas!</p>
        <img src="../../../../../assets/images/hospedaje-info/hospedaje.png" alt="Imagen del lugar" class="place-image">
        <div class="place-details">
          <p>4 huéspedes · 2 dormitorios · 4 camas · 1 baño</p>
        </div>
      </div>
  
      <!-- Card Derecha: Detalles de reserva -->
      <div class="price-card">
        <h2>$150,000 <span>/ noche</span></h2>
        <div class="check-in-out">
          <div class="check-in">
            <label for="check-in">Check-in</label>
            <input type="date" id="check-in" value="2024-03-31">
          </div>
          <div class="check-out">
            <label for="check-out">Check-out</label>
            <input type="date" id="check-out" value="2024-04-05">
          </div>
        </div>
        <div class="guests">
          <label for="guests">Viajeros</label>
          <select id="guests">
            <option>1 huésped</option>
            <option>2 huéspedes</option>
            <option>3 huéspedes</option>
            <option>4 huéspedes</option>
          </select>
        </div>
        <button class="reserve-button">Reservar</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>