.reservation-container {
  padding: 50px;
  max-width: 1200px;
  margin: 50px auto 0;  /* Añadimos margen superior */
}

.title {
  font-size: 48px;
  color: #ccff00;
  text-align: center;
  font-family: var(--font-title1);
}

.title span {
  font-size: 40px;
  color: #8a8d8d;
  font-family: var(--font-title2)
}

.reservation-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;  /* Permite que las tarjetas se reorganicen en pantallas pequeñas */
}

.place-card,
.price-card {
  background-color: #0c2a2e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 48%;  /* Cambia a 100% en pantallas pequeñas */
  margin-bottom: 20px;  /* Espacio entre tarjetas en pantallas pequeñas */
}

.place-card h2,
.price-card h2 {
  color: #ccff00;
}

.place-card p,
.place-details,
.price-card span {
  color: #fff;
}

.place-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.price-card h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.check-in-out {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.check-in,
.check-out {
  width: 48%;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #8a8d8d;
  border-radius: 5px;
  background-color: #0d4f60;
  color: #fff;
}

.reserve-button {
  width: 100%;
  padding: 15px;
  background-color: #ccff00;
  color: #102a40;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.reserve-button:hover {
  background-color: #99cc00;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart {
  background: var(--color-card-2);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}  

h2, h3, h4 {
  margin: 10px 0;
  color: var(--color-button);
}

p{
  color: var(--color-button);
}

.close-btn, .confirm-btn {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.confirm-btn {
  background-color: #4caf50;
  color: white;
}

.place-services {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap; /* Permitir que las etiquetas se ajusten en pantallas pequeñas */
}

.service-tag {
  background-color: var(--color-card-2);
  color: var(--color-white);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.service-tag i {
  margin-right: 5px;
}

.place-location {
  margin-top: 20px;
  font-size: 16px;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.place-location i {
  margin-right: 5px;
}


/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
  .reservation-content {
    flex-direction: column;
    align-items: center;  /* Centra las tarjetas */
  }

  .place-card,
  .price-card {
    width: 100%;  /* Tarjetas ocupan todo el ancho en pantallas pequeñas */
    margin-bottom: 20px;
  }

  .title {
    font-size: 36px;
  }

  .title span {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .title span {
    font-size: 24px;
  }

  .place-card p,
  .place-details {
    font-size: 14px;  /* Reduce el tamaño del texto */
  }

  .price-card h2 {
    font-size: 24px;
  }

  .reserve-button {
    font-size: 16px;
  }
}
