* {
  font-family: var(--font-title2);
}

.reservation-container {
  padding: 50px;
  max-width: 1200px;
  margin: 50px auto 0;
  /* Añadimos margen superior */
}

.title {
  font-size: 48px;
  color: #ccff00;
  text-align: center;
  font-family: var(--font-title1);
}

.title span {
  font-size: 40px;
  color: #8a8d8d;
  font-family: var(--font-title2)
}

.reservation-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  /* Permite que las tarjetas se reorganicen en pantallas pequeñas */
}

.place-card,
.price-card {
  background-color: rgba(7, 7, 7, 0.53);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 48%;
  margin-bottom: 20px;
}

.price-card {
  height: 380px;
}

.place-card h2,
.price-card h2 {
  color: #ccff00;
}

.place-card p,
.place-details,
.price-card span {
  color: #fff;
}

.place-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.price-card h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.check-in-out {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.check-in,
.check-out {
  width: 48%;
}

label {
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #8a8d8d;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

.reserve-button {
  width: 100%;
  padding: 15px;
  background-color: #ccff00;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.reserve-button:hover {
  background-color: #41410415;
  box-shadow: 0 2px 12px var(--color-button);
  color: var(--color-button);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart {
  background: var(--color-card-2);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2,
h3,
h4 {
  margin: 10px 0;
  color: var(--color-button);
}

p {
  color: var(--color-button);
}

.close-btn,
.confirm-btn {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.confirm-btn {
  background-color: #4caf50;
  color: white;
}

.place-services {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
  /* Permitir que las etiquetas se ajusten en pantallas pequeñas */
}

.service-tag {
  background-color: var(--color-card-2);
  color: var(--color-white);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.service-tag i {
  margin-right: 5px;
  font-size: 18px;
}

.place-location {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(248, 173, 112);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.place-location i {
  margin-right: 5px;
}


/* From Uiverse.io by barisdogansutcu */
svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(110, 97%, 45%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Estilo de la animación de parpadeo */
@keyframes blink {

  0%,
  100% {
    color: white;
  }

  50% {
    color: hsl(110, 97%, 45%);
  }
}

/* Contenedor de carga */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  /* Ajusta la altura si es necesario */
}

/* Texto de carga con animación */
.loading-text {
  font-size: 1.2em;
  margin-top: 10px;
  animation: blink 1.9s infinite;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}


.error-message {
  position: fixed;
  top: 150px;
  right: 50px;
  z-index: 9999;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #f8d7da;
  color: #721c24;
}


/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
  .reservation-content {
    flex-direction: column;
    align-items: center;
    /* Centra las tarjetas */
  }

  .place-card,
  .price-card {
    width: 100%;
    /* Tarjetas ocupan todo el ancho en pantallas pequeñas */
    margin-bottom: 20px;
  }

  .title {
    font-size: 36px;
  }

  .title span {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .title span {
    font-size: 24px;
  }

  .place-card p,
  .place-details {
    font-size: 14px;
    /* Reduce el tamaño del texto */
  }

  .price-card h2 {
    font-size: 24px;
  }

  .reserve-button {
    font-size: 16px;
  }

  .error-message{
    top: 950px;
  right: 5px;
  }
}