
<div class="v299_97">
    <span class="v39_304">Nuestros alojamientos</span>
    <span class="v51_88">Tendencias</span>
</div>
<div class="v39_307">
    <div class="v39_308"></div>

    <!-- Primera Card -->
    <div class="card card-1">
        <img class="card__image card__image-1" src="../../../../../assets/images/tendencias/cabania.jpg">
        <div class="card__content card__content-1">
            <p class="card__title card__title-1">Cabaña Montaña Verde</p>
            <p class="card__text card__text-1">San Rafael | Disfruta de vistas panorámicas a la montaña desde nuestra
                encantadora
                cabaña, que cuenta con una reluciente piscina privada, una cochera para tu comodidad y una acogedora
                zona de parrilla.</p>
            <a class="card__button card__button-1" href="#">Read More</a>
        </div>
    </div>

    <!-- Segunda Card -->
    <div class="card card-2">
        <img class="card__image card__image-2" src="../../../../../assets/images/tendencias/cabania.jpg">
        <div class="card__content card__content-2">
            <p class="card__title card__title-2">Apartamento en Ciudad</p>
            <p class="card__text card__text-2">Mendoza | Vive en el corazón de la ciudad, con vistas modernas, una
                excelente
                ubicación y una terraza privada para tus momentos de relajación.</p>
            <a class="card__button card__button-2" href="#">Read More</a>
        </div>
    </div>

    <!-- Tercera Card -->
    <div class="card card-3">
        <img class="card__image card__image-3" src="../../../../../assets/images/tendencias/cabania.jpg">
        <div class="card__content card__content-3">
            <p class="card__title card__title-3">Casa en la Playa</p>
            <p class="card__text card__text-3">Mar del Plata | Despierta con el sonido del mar en esta maravillosa casa
                en la playa
                con acceso privado y una gran terraza con vistas al océano.</p>
            <a class="card__button card__button-3" href="#">Read More</a>
        </div>
    </div>

    <!-- Botón debajo de todas las cards -->
    <a class="provincias__button" routerLink="/hospedaje">Ver más provincias</a>
</div>
