* {
  font-family: var(--font-text);
}

h3 {
  font-family: var(--font-title1);
  color: var(--color-button);
}

/* Contenedor Principal */
.perfil-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
}

/* Card de Perfil */
.perfil-card, .contacto-card, .alojamientos-card, .reservas-card {
  background-color: #fdfdfd07;
  backdrop-filter: blur(0.05rem);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  max-width: 609px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}

/* Imagen de perfil */
.perfil-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  align-self: center;
}

/* Listas sin viñetas */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre icono y texto */
  
}

li i{
  font-size: 20px;
  color: rgb(43, 125, 247);
}



/* Botón de edición */
.edit-btn {
  background-color: var(--color-button);
  border: none;
  width: 45px;
  height: 28px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto flotante */  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-btn:hover {
  background-color: rgba(65, 65, 4, 0.1); /* Color de fondo con transparencia */
  box-shadow: 0 2px 12px var(--color-button); /* Mayor sombra al hacer hover */
  color: var(--color-button); /* Cambia el color del icono al hacer hover */
}

.edit-btn i {
  font-size: 16px;  
}

.alojamientos-card {
  width: 100%;
  
  padding: 20px;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alojamientos-list-container {
  max-height: 200px; /* Ajusta este valor según el espacio disponible */
  overflow-y: auto;
}

.alojamientos-list {
  list-style-type: none;
  padding: 0;
}

.alojamientos-list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.mini-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

/* Botón de "Agregar más" */
.add-btn {  
  border: none;
  width: 45px;
  height: 28px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--color-button);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto flotante */  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-btn:hover{
  background-color: rgba(65, 65, 4, 0.1); /* Color de fondo con transparencia */
  box-shadow: 0 2px 12px var(--color-button); /* Mayor sombra al hacer hover */
  color: var(--color-button); /* Cambia el color del icono al hacer hover */
}

.add-btn i {
  font-size: 18px;
  
}

.reservas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd; /* Color para la línea divisoria */
  
  margin: 0 10px 20px;
}

.reservas-card {
  max-height: 300px; /* Altura máxima para la tarjeta */
  overflow-y: auto; /* Barra de desplazamiento vertical si se excede la altura */
  padding-right: 10px; /* Espacio para evitar que el scroll tape el contenido */
}

.reservas-card ul {
  padding: 0;
  list-style: none;
  max-height: 250px; /* Altura máxima de la lista interna para limitar el contenido visible */
  overflow-y: auto; /* Scroll en la lista si es necesario */
}

.reservas-card ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.reservas-card ul li i {
  font-size: 20px;
  margin-right: 8px;
  color: #2b7df7; /* Color para los iconos */
}



.loader { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Para centrar verticalmente la animación */
}

.loader-text {
  font-family: var(--font-title2);
  font-size: 24px;
  color: var(--color-white);
  margin-bottom: 20px;
  align-self: center;
}

.loader-bar {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-button);
  animation: loader-bar-animation 2s ease-in-out infinite;
}

/* From Uiverse.io by barisdogansutcu */
svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(110, 97%, 45%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Estilos adicionales para centrar la animación dentro de la card */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Ajusta según el tamaño que prefieras */
}


@keyframes loader-bar-animation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.ver-btn {
  background-color: var(--color-button);
  border: none;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-left: auto; /* Para alinear el botón a la derecha */
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.ver-btn:hover {
  background-color: rgba(65, 65, 4, 0.1); /* Color de fondo con transparencia */ 
  color: var(--color-button); /* Cambia el color del icono al hacer hover */
}



/* Responsivo */
@media screen and (max-width: 768px) {
  .perfil-container {
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .perfil-card, .contacto-card, .alojamientos-card, .reservas-card {
    max-width: 100%;
  }

  .edit-btn, .add-btn {
    bottom: 10px;
    right: 10px;
  }
}
