<app-header></app-header>

<div class="perfil-container" *ngIf="!isLoading; else loading">
  <div class="card perfil-card">
    <img [src]="userProfile?.imgUrl || '../../../../../assets/images/perfil-usuario/foto-perfil.png'" alt="Foto de Perfil" class="perfil-img">
    <h3>{{ userProfile?.firstname }} {{ userProfile?.lastname }}</h3>
    <p>{{ userProfile?.ubication_x }}, {{ userProfile?.ubication_y }}</p>
    <button class="edit-btn">
      <i class="bi bi-pencil"></i>
    </button>
  </div>

  <div class="card contacto-card">
    <h3>Info de Contacto</h3>
    <ul>
      <li><i class="bi bi-telephone"></i> {{ userProfile?.phone }}</li>
      <li><i class="bi bi-envelope"></i> {{ userProfile?.email }}</li>
      <li><i class="bi bi-geo-alt"></i> {{ userProfile?.ubication_x }}, {{ userProfile?.ubication_y }}</li>
    </ul>
    <button class="edit-btn">
      <i class="bi bi-pencil"></i>
    </button>
  </div>
</div>

<ng-template #loading>
  <p>Cargando perfil...</p>
</ng-template>

<app-footer></app-footer>
