<app-header></app-header>
<div class="perfil-container" *ngIf="!isProfileLoading; else loadingProfile" data-aos="zoom-in">
  <!-- Card de Perfil -->
  <div class="card perfil-card">
    <img [src]="userProfile?.imgUrl || '../../../../../assets/images/perfil-usuario/foto-perfil.jpeg'"
      alt="Foto de Perfil" class="perfil-img">
    <h3>{{ userProfile?.firstname }} {{ userProfile?.lastname }}</h3>
    <p>{{userProfile?.locality}}</p>
    <button class="edit-btn">
      <i class="bi bi-pencil"></i>
    </button>
  </div>

  <!-- Card de Información de Contacto -->
  <div class="card contacto-card">
    <h3>Info de Contacto</h3>
    <ul>
      <li class="phone"><i class="bi bi-telephone"></i>Teléfono: {{ userProfile?.phone }}</li>
      <li class="email"><i class="bi bi-envelope"></i>Email: {{ userProfile?.email }}</li>
      <li class="birthdate"><i class="bi bi-calendar"></i>Cumpleaños: {{ userProfile?.birthdate | date: 'longDate' }}
      </li>
      <li class="location"><i class="bi bi-geo-alt"></i>Ubicación: {{userProfile?.locality}}</li>
    </ul>
    <button class="edit-btn">
      <i class="bi bi-pencil"></i>
    </button>
  </div>

  <!-- Card de Alojamientos Cargados -->
  <div class="card alojamientos-card">
    <h3>Alojamientos Cargados</h3>

    <div *ngIf="isHospedajesLoading" class="loading-spinner">
      <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
      </svg>
    </div>

    <div class="alojamientos-list-container" *ngIf="!isHospedajesLoading">
      <ul class="alojamientos-list">
        <li *ngFor="let hospedaje of hospedajes">
          <img [src]="getImageUrl(hospedaje)" class="mini-img" alt="Imagen del hospedaje">
          {{ hospedaje.name }} - {{ hospedaje.locality }}
        </li>
      </ul>
    </div>

    <a class="add-btn" routerLink="/hospedaje/nuevo">
      <i class="bi bi-house-add-fill"></i>
    </a>
  </div>

  <div class="card reservas-card">
    <!-- Título y Lista de Reservas -->
    <div class="reservas-header">
      <h3>Mis Reservas</h3>
    </div>
    <ul *ngIf="reservas.length > 0; else noReservas">
      <li *ngFor="let reserva of reservas">
        <i class="bi bi-calendar-check"></i> {{ reserva.nombreHospedaje }} - Desde: {{ reserva.startDate | date }} Hasta: {{ reserva.endDate | date }}
        <button class="ver-btn" (click)="openTicketDetail(reserva, 'Propietario'); $event.stopPropagation()">Ver</button>
      </li>
    </ul>
    <ng-template #noReservas><p>No tienes reservas.</p></ng-template>
    
    <hr class="divider">
    
    <!-- Título y Lista de Alojamientos Alquilados -->
    <div class="alojamientos-header">
      <h3>Alojamientos Alquilados</h3>
    </div>
    <ul *ngIf="alojamientosAlquilados.length > 0; else noAlojamientos">
      <li *ngFor="let alojamiento of alojamientosAlquilados">
        <i class="bi bi-house-check"></i> {{ alojamiento.nombreHospedaje }} - Inquilino: {{ alojamiento.userNameRenter }}
        <button class="ver-btn" (click)="openTicketDetail(alojamiento, 'Inquilino'); $event.stopPropagation()">Ver</button>
      </li>
    </ul>
    <ng-template #noAlojamientos><p>No tienes alojamientos alquilados.</p></ng-template>
  </div>
  
  
  

  

  <!-- Plantilla de carga -->
  <ng-template #loadingReservas>
    <div class="loader">
      <div class="loader-text">Cargando reservas...</div>
    </div>
  </ng-template>
</div>

<!-- Usando ng-template para mostrar el spinner de carga -->
<ng-template #loadingProfile>
  <div class="loader">
    <div class="loader-text">Cargando perfil...</div>
    <div class="loader-bar"></div>
  </div>
</ng-template>
<!-- Componente TicketDetail con Modal -->
<app-detalle-ticket *ngIf="selectedTicket" [ticketDetail]="selectedTicket" (close)="closeTicketDetail()">
</app-detalle-ticket>
<app-footer></app-footer>