* {
  font-family: var(--font-text);
}

h3 {
  font-family: var(--font-title1);
  color: var(--color-button);
}

/* Contenedor Principal */
.perfil-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
}

/* Card de Perfil */
.perfil-card {
  background-color: #1f2e29;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  max-width: 609px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

/* Imagen de perfil */
.perfil-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  align-self: center;
}

/* Card de Información de Contacto */
.contacto-card {
  background-color: #1f2e29;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  max-width: 609px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

/* Card de Alojamientos */
.alojamientos-card {
  background-color: #1f2e29;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  width: 100%;
  max-width: 609px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}

/* Card de Mis Reservas */
.reservas-card {
  background-color: #1f2e29;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  width: 100%;
  max-width: 609px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}

/* Botón de edición */
.edit-btn {
  background-color: var(--color-button);
  border: none;
  width: 52px;
  height: 35px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn:hover {
  background-color: #8dda5a;
}

/* Icono dentro del botón */
.edit-btn i {
  font-size: 15px;
  color: black;
}

/* Botón de "Agregar más" */
.add-btn {
  background-color: var(--color-button);
  border: none;
  width: 50px;
  height: 35px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 25px; /* Posiciona el botón dentro de la card, a la derecha */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Icono dentro del botón */
.add-btn i { 
  font-size: 18px;
  color: black;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  .perfil-container {
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .perfil-card, .contacto-card, .alojamientos-card, .reservas-card {
    max-width: 100%;
  }

  .edit-btn {
    bottom: 10px;
    right: 10px;
  }

  .add-btn {
    
    bottom: 10px;
    right: 70px;
  }
}
