.footer {
    position: relative;
    background-color: #111;
    /* Fondo oscuro */
    padding: 20px;
    color: #D0E218;
    /* Texto en color amarillo verdoso */
    text-align: center;
    font-weight: 200;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-left p,
.footer-center p,
.footer-right p {
    margin: 0;
}

.footer-center p {
    text-align: center;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        margin: 10px 0;
    }
}