.footer {
    position: relative;
    /* O 'absolute' si es necesario */
    z-index: 0;
    /* Asegura que esté detrás de las cards */
    margin-top: 200px;
    background-color: #11111186;
    backdrop-filter: blur(10px);
    /* Fondo oscuro */
    padding: 60px;
    color: #D0E218;
    /* Texto en color amarillo verdoso */
    text-align: center;
    font-weight: 200;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-left p,
.footer-center p,
.footer-right p {
    margin: 0;
}

a{
    text-decoration: none;
    color: #D0E218;
}

a:hover{
    transition: 0.6s;
    color: #fff;
}

.footer-center p {
    text-align: center;
}
.logo-footer{
    width: 150px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        margin: 10px 0;
    }
}