<section class="tendencias-section">
  <div class="tendencias-header">
    <h1>Nuestros alojamientos</h1>
    <h2>Tendencias</h2>
  </div>

   <!-- Animación de carga mientras los hospedajes se están cargando -->
   <div *ngIf="isHospedajesLoading" class="loading-container">
    <div class="loading-spinner">
      <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
      </svg>
    </div>
    <!-- Texto de carga con animación de parpadeo -->
    <p class="loading-text">Cargando hospedajes...</p>
  </div>

  <!-- Contenido cuando los datos estén disponibles -->
  <div class="tendencias-cards" *ngIf="!isHospedajesLoading" data-aos="zoom-in">
    <div class="tendencias-card" *ngFor="let hospedaje of hospedajes">
      <img [src]="hospedaje.img_url" alt="Imagen del hospedaje">
      <div class="tendencias-card-content">
        <h3>{{ hospedaje.nombreHospedaje }}</h3>
        <p>{{ hospedaje.description }}</p>
        <p class="location"><i class="bi bi-geo-alt-fill"></i> {{ hospedaje.locality }}</p>
        <button>Visitar</button>
      </div>
    </div>
  </div>
</section>
