.banner-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea el contenido al inicio (parte superior) */
    z-index: 3;
    margin-top: 100px; /* Mantiene el título justo debajo del navbar */
    padding: 0 40px;
}

.banner-title {
    
    width: 700px;
    color:rgba(48, 48, 48, 0.788);
    margin: 50px;
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: 100px
    
}

.banner-logo {
    height: 200px; /* Aumenta la altura del logo */
    width: auto;
    position: absolute;
    right: 230px; /* Ajusta la distancia desde el borde derecho */
    top: 100px; /* Ajusta la distancia desde la parte superior */
}

