<div class="banner-container">
    <img src="../../../../../assets/images/banner/banner.png" alt="Banner Image" class="banner-image">
    <div class="banner-header">
        <h1 class="banner-title">Descubre hospedajes únicos y experiencias <br>memorables</h1>
        <video class="banner-logo" autoplay muted loop>
            <source src="../../../../../assets/images/banner/logo-banner.png" type="video/webm">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>
    <div class="banner-content">
        <div class="search-box">
            <div class="input-container">
                <i class="icon-bed"></i>
                <input type="text" 
                       placeholder="¿A dónde vas?" 
                       (input)="onSearchLocation($event)" 
                       [value]="selectedLocation?.nombre"/>
                <!-- Lista de sugerencias -->
                <ul *ngIf="suggestions.length > 0">
                    <li *ngFor="let suggestion of suggestions" 
                        (click)="selectSuggestion(suggestion)">
                        {{ suggestion.nombre }}
                    </li>
                </ul>
            </div>
            <div class="input-container">
                <i class="icon-calendar"></i>
                <input type="date" placeholder="Comprobar disponibilidad" />
            </div>
            <button class="search-button">
                Buscar
            </button>
        </div>
    </div>
    
    
</div>