.banner-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
}

.banner-title {
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(45deg, #000000, #585857);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2vw;
    text-align: center;
    max-width: 600px;
    line-height: 1.2;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8),
                 4px 4px 8px rgba(255, 255, 255, 0.3);
    animation: fadeInUp 2s ease-in-out;
}

.banner-logo {
    height: 12vw;
    width: auto;
    max-height: 150px;
    animation: fadeInScale 2s ease-in-out;
}

span {    
    font-weight: 500; /* Opción de hacer el texto más grueso */
}

.filtro {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 5;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .banner-title {
        font-size: 5vw;
        max-width: 400px;
    }

    .banner-logo {
        height: 100px;
        position: relative;
    }

    .filtro {
        top: 60%;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .banner-title {
        font-size: 6vw;
    }

    .banner-header {
        flex-direction: column;
        align-items: center;
        margin-top: 20vh;
    }

    .banner-logo {
        margin-top: 20px;
        height: 100px;
    }
}
