<div class="banner-container">
    <img src="../../../../../assets/images/banner/banner.png" alt="Banner Image" class="banner-image">
    <div class="banner-header">
        <h1 class="banner-title">Descubre hospedajes únicos y experiencias <br>memorables</h1>
        <video class="banner-logo" autoplay muted loop>
            <source src="../../../../../assets/images/banner/logo-banner.png" type="video/webm">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>
    <div>
       <app-filtro></app-filtro>
    </div>
    
    
</div>