<div class="banner-container">
  <img src="../../../../../assets/images/banner/banner.png" alt="Banner Image" class="banner-image">
  <div class="banner-header">
      <h1 class="banner-title">Descubre hospedajes únicos y experiencias <br>memorables</h1>
      <img src="../../../../../assets/images/banner/logo-banner.png" alt="Trooper Stay Logo" class="banner-logo">
  </div>
  <div class="banner-content">
      <div class="search-box">
          <div class="input-container">
              <i class="icon-bed"></i>
              <input type="text" placeholder="¿A dónde vas?" />
          </div>
          <div class="input-container">
              <i class="icon-calendar"></i>
              <input type="date" placeholder="Comprobar disponibilidad" />
          </div>
          <button class="search-button">
              Buscar
          </button>
      </div>
  </div>
</div>
