/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Inter", sans-serif;
    font-weight: weight;
    font-style: normal;
}

/* Variables de colores */
:root {
    --color-primary: #222222;
    --color-button: #BCCE04;
    --color-text: #000000;
    --color-background: #081C1B;
    --color-footer: #151515;
    --color-card: #606160;
    --color-white: #FFFFFF;
  }

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

::selection {
    background-color: var(--color-card);
    
}