.kodchasan-regular {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


/* Variables de colores */
:root {
    --color-primary: #222222;
    --color-button: #BCCE04;
    --color-text: #000000;
    --color-background: #081C1B;
    --color-footer: #151515;
    --color-card: #606160;
    --color-white: #FFFFFF;

    --font-title1: "Kodchasan", sans-serif;
    --font-title2: "Lexend", sans-serif;
    --font-text: "Inter", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

::selection {
    background-color: var(--color-card);

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-button);
}