@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&display=swap');




/* Variables de colores */
:root {
    --color-primary: #222222;
    --color-button: #BCCE04;
    --color-text: #000000;
    --color-background: #081C1B;
    --color-footer: #151515;
    --color-card: #606160;
    --color-card-2: #062B29;
    --color-white: #FFFFFF;

    --font-title1: "Kodchasan", sans-serif;
    --font-title2: "Lexend", sans-serif;
    --font-text: "Inter", sans-serif;
}

body {

    background-image: radial-gradient(circle at center center, transparent, rgb(0, 0, 0)), linear-gradient(114deg, rgba(1, 19, 16, 0.973) 0%, rgba(59, 59, 59, 0.05) 50%, rgba(63, 63, 63, 0.05) 50%, rgba(63, 63, 63, 0.05) 100%), linear-gradient(186deg, rgba(173, 173, 173, 0.05) 0%, rgba(173, 173, 173, 0.05) 50%, rgba(237, 237, 237, 0.05) 50%, rgba(237, 237, 237, 0.05) 100%), linear-gradient(98deg, rgba(191, 191, 191, 0.05) 0%, rgba(191, 191, 191, 0.05) 50%, rgba(119, 119, 119, 0.05) 50%, rgba(119, 119, 119, 0.05) 100%), linear-gradient(58deg, rgba(95, 95, 95, 0.05) 0%, rgba(95, 95, 95, 0.05) 50%, rgba(189, 189, 189, 0.05) 50%, rgba(189, 189, 189, 0.05) 100%), linear-gradient(259deg, rgba(31, 31, 31, 0.05) 0%, rgba(31, 31, 31, 0.05) 50%, rgba(110, 110, 110, 0.05) 50%, rgba(110, 110, 110, 0.05) 100%), linear-gradient(41deg, rgba(142, 142, 142, 0.05) 0%, rgba(142, 142, 142, 0.05) 50%, rgba(84, 84, 84, 0.05) 50%, rgba(84, 84, 84, 0.05) 100%), linear-gradient(134deg, rgba(96, 96, 96, 0.05) 0%, rgba(96, 96, 96, 0.05) 50%, rgba(198, 198, 198, 0.05) 50%, rgba(198, 198, 198, 0.05) 100%), linear-gradient(46deg, rgba(12, 12, 12, 0.05) 0%, rgba(12, 12, 12, 0.05) 50%, rgba(0, 0, 0, 0.05) 50%, rgb(0, 0, 0) 100%), radial-gradient(circle at center center, hsl(186, 59%, 7%), hsl(187, 60%, 6%));

    background-attachment: fixed;
    /* Para mantener el fondo fijo */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

::selection {
    background-color: var(--color-button);
    color: var(--color-text);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b49;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-button);
}