<div class="lo-que-ofrecemos-container">
    <h2>Lo que ofrecemos en Trooper Stay</h2>
  
    <div class="cards-container">
      <div class="card" data-aos="fade-up">
        <i class="bi bi-house-door"></i>
        <h3>Alquilar Alojamiento</h3>
        <p>Encuentra y alquila alojamientos únicos para tus viajes, con opciones para todos los gustos y presupuestos.</p>
      </div>
  
      <div class="card" data-aos="fade-up">
        <i class="bi bi-upload"></i>
        <h3>Subir Alojamiento</h3>
        <p>Publica tu alojamiento de manera rápida y sencilla para comenzar a recibir reservas.</p>
      </div>
  
      <div class="card" data-aos="fade-up">
        <i class="bi bi-search"></i>
        <h3>Búsqueda Personalizada</h3>
        <p>Utiliza filtros avanzados para encontrar el lugar perfecto de acuerdo a tus necesidades.</p>
      </div>  
      
  
      <div class="card" data-aos="fade-up">
        <i class="bi bi-wallet"></i>
        <h3>Pagos Seguros</h3>
        <p>Realiza transacciones seguras mediante nuestra plataforma confiable de pagos en línea.</p>
      </div>
  
      
      
  
      <div class="card" data-aos="fade-up">
        <i class="bi bi-heart"></i>
        <h3>Experiencias Únicas</h3>
        <p>Vive experiencias inolvidables en alojamientos extraordinarios y auténticos.</p>
      </div>
    </div>
  </div>
  