<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="../../../../assets/icons/logo/logo.png" alt="Logo" class="navbar-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-3">
              <li class="nav-item">
                  <a class="nav-link" href="#">Acerca de</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Alojamientos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
              </li>
          </ul>
          <div class="navbar-buttons ms-auto">
              <a class="btn btn-login" routerLink="/login">Iniciar sesión</a>
              <a class="btn btn-register" routerLink="/register">Registrarse</a>
              <div class="user-menu dropdown">
                  <button class="btn btn-user dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="user-icon"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                      <li><a class="dropdown-item" routerLink="/perfil-usuario">Perfil</a></li>
                      <li><a class="dropdown-item" href="#">Mis Reservas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</nav>
