<app-header></app-header>
<section class="about-section" data-aos="zoom-in" id="about">
    <div class="about-header">
        <h1 class="title-green">SOBRE</h1>
        <h1 class="title-grey">NOSOTROS</h1>
    </div>

    <div class="about-card">
        <p class="description">
            <span>¡Bienvenido a "Trooper Stay"!</span>
            <br><br>
            En <span>"Trooper Stay"</span>, nos dedicamos a convertir tus sueños de viaje en experiencias inolvidables. Nuestra
            pasión por la hospitalidad nos impulsa a ofrecerte una selección de alojamientos
            únicos en destinos de ensueño de todo el mundo.
            <br><br>
            Nos enorgullece conectar a viajeros con lugares extraordinarios donde puedan sentirse como en casa, desde
            acogedoras cabañas en la montaña hasta lujosas villas frente al mar. Cada propiedad que ofrecemos ha sido
            seleccionada con el máximo cuidado para garantizar que tu estancia sea excepcional en todos los sentidos.
            <br><br>
            En <span>"Trooper Stay"</span>, valoramos la calidad, la autenticidad y la satisfacción del cliente sobre todo. Nuestro
            equipo está comprometido a brindarte un servicio personalizado y atención al detalle en cada paso del
            camino, desde la reserva hasta el check-out.
            <br><br>
            Ya sea que estés planeando unas vacaciones familiares, una escapada romántica o un viaje de aventura con
            amigos, <span>"Trooper Stay"</span> está aquí para hacer realidad tus sueños de viaje. Únete a nosotros en esta
            emocionante aventura y descubre tu próximo destino de ensueño.
            <br><br>
            ¡Bienvenido a <span>"Trooper Stay"</span>, donde tus sueños de viaje se hacen realidad!
        </p>
        <h3 class="offer-title">¿Qué ofrecemos?</h3>
        <div class="offer-cards">
            <div class="offer-item">
                <img src="../../../../../assets/images/about/confort-1.png" alt="Familia">
                <p>Confort para tu familia</p>
            </div>
            <div class="offer-item">
                <img src="../../../../../assets/images/about/calidad-2.png" alt="Calidad">
                <p>Servicio de calidad</p>
            </div>
            <div class="offer-item">
                <img src="../../../../../assets/images/about/click-3.png" alt="Click">
                <p>Experiencias únicas</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>